
@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');

a, p, ul, ol li, h1, h2, h3, h4, h5, h6 {
  font-family: 'Oxanium' ;
 }

 html

{
  width:100%;
  overflow-x:hidden;
}

img {
    width: 100%; /* You can set the dimensions to whatever you want */
    height: 100%;
    object-fit: cover;
    
}

body
{
  overflow-x:hidden;
}


.imageButton
{
  transition: all 0.65s;
  color: white;
  
  
}

.imageButton:hover{

  opacity: 0.80;
  color:rgb(181, 6, 6);
  
}

.hovereffect
{
  color:white;
  transition: 0.65s;
}

.hovereffect:hover{

  color: black;
  
}

.container {
  width:100%;
  cursor: pointer;
  padding-top: 16px;
  margin-top: 30px;
  
  
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner {
  overflow: hidden;
  float:left;
  cursor: pointer;
  display: block;
}

.navbar
{
  background-color: #333;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  z-index: 2;
  
}

.TopNavPanel
{ 

  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: rgba(0,0,0,0.5);
}


.bar1, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .bar2
  {
    width: 25px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }

  

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    
  }

 

  .TextSection
  {
    text-align: center;
    background-color: #20292f;
   color:white;
    border-color:black;
          border-style:solid;
          border-bottom: 0px;
          padding:20px;
    
  }

  .TextSection3
{
  text-align: center;
  background-color: black;
  color:white;
  padding-bottom:50px;
  border-style:solid;
  border-color:black;
}

.sidenav {
  height: 100%;
  width: 0;
  position:fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 65px;

}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  
  display: block;
  transition: 0.3s;
  cursor: pointer;
}




.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%; }
  .gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; }
  .gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
  
  @media (max-width: 450px) {
  .gallery {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
  column-width: 100%;
  }
  }
  
  @media (max-width: 400px) {
  .btn.filter {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  }
  }